@import url(./reset.css);
@import url(./common.css);

.inner {
    max-width: 90rem;
    margin: 0 auto;
    ;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 10px 0;
    z-index: 2;
}

#header h1 {}

#header h1 a {
    width: 132px;
    height: auto;
    display: block;
}

#header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#header .nav {
    display: flex;
    gap: 70px;
    align-items: center;
}

#header .nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

#header .nav ul li {}

#header .nav ul li a {
    font-size: 16px;
}

#footer {
    padding: 60px 40px;
}

#footer .inner {}

#footer .inner .footer-wrapper {
    display: flex;
    justify-content: space-between;
}

#footer .inner .footer-wrapper>* {
    font-size: 24px;
}

#footer .inner .footer-wrapper a img {
    width: 230px;
    height: auto;
}

#footer .inner .footer-wrapper .footer-menu ul,
#footer .inner .footer-wrapper .footer-contact ul,
#footer .inner .footer-wrapper .footer-sns ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footer .inner .footer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}